.navs {
  margin-left: 40px;
  text-decoration: none;
  font-size: 30px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.navsa {
  margin-left: 40px;
  text-decoration: none;
  font-size: 30px;
  color: rgb(199, 255, 67);
  text-transform: uppercase;
}
